@import '~@sparkpost/design-tokens-hibana/tokens';

.LastTriggeredCard {
  height: auto;

  > div {
    display: unset;
    flex-direction: unset;
  }
}

.Footer {
  padding: unset;
  color: unset;
  font-size: unset;
}

.AlertName {
  align-self: unset;
}

.Description {
  top: unset;
  width: 100%;
}
