@import '~@sparkpost/matchbox/src/styles/config.scss';

.EditorNav {
  position: sticky;
  width: 100%;
  top: rem(
    56
  ); // Note `top` offset by the exact height of the navigation above found in `FullPage.module.scss`
  z-index: 50;

  @media (min-width: breakpoint(small)) {
    position: fixed;
  }
}

.MainContent {
  margin-top: 0;

  @media (min-width: breakpoint(small)) {
    margin-top: 70px;
  }
}

.StatusContent {
  color: color(gray, 3);
}
