@import '~@sparkpost/matchbox/src/styles/config.scss';
@import 'src/styles/mixins/buttonOverrides.scss';

.Cell {
  border: 1px solid color(grey, 8);
  border-left: none;
  padding: 0;

  &:last-child {
    border-right: none;
  }
}

.DataCell {
  padding: spacing(small) spacing();
}

.Header {
  background-color: #fafafa;
  border: 1px solid color(grey, 8);
  border-left: none;
  font-weight: 500;
  padding: spacing(small) spacing();
  font-size: font-size(400);
  white-space: nowrap;

  &:last-child {
    border-right: none;
  }
}

.SummaryTable {
  table {
    margin: 0; // override
    table-layout: fixed;
  }
}
