@import '~@sparkpost/matchbox/src/styles/config.scss';

.Field {
  border: none;
  margin: 0 auto;
  max-width: 630px;
  text-align: center;
}

.Help {
  font-size: font-size(200);
  line-height: 1.4em;
}

.Dropzone {
  margin-bottom: spacing();
  padding: rem(40);
  border: 1px dashed transparent;
  text-align: center;
  cursor: pointer;
  transition: 0.15s;

  &:hover,
  &.Active {
    border: 1px dashed color(gray, 6);
  }
}

.FileTypeWrapper {
  display: flex;
  justify-content: center;

  & > * {
    padding: spacing();
    border: 1px solid color(gray, 7);
    margin: 0 spacing(larger);
  }

  path {
    fill: color(gray, 6);
  }
}

.LoadingWrapper {
  height: rem(328);
}
