@import '~@sparkpost/design-tokens-hibana/tokens';

.Help {
  font-size: font-size(300);
}

.Dropzone {
  margin: 0;
  padding: spacing(800);

  &:hover,
  &.Active {
    border: 1px dashed color(gray, 300);
  }
}

.FileTypeWrapper {
  & > * {
    padding: spacing(200);
    border: 1px solid color(gray, 300);
    margin: 0 spacing(400);
  }

  path {
    fill: color(gray, 300);
  }
}

.LoadingWrapper {
  height: 20rem;
}
