@import '~@sparkpost/design-tokens-hibana/tokens';

.Popover {
  width: max-content;
}

.Error {
  display: inline-block;
  vertical-align: middle;
  margin-left: spacing(200);
  line-height: line-height(200);
}

.ActionList {
  width: 150px;
}

.DateSelectorWrapper {
  max-width: 38.5rem; //Same as date picker. No corresponding token value.
}
