@import '~@sparkpost/design-tokens-hibana/tokens';

.Icon {
  margin-left: spacing(100);
  transform: translateY(-1px);
}

.AlertNameLink {
  font-weight: font-weight(semibold);
}

.FilterBox {
  padding: spacing(400);
}
