@import '~@sparkpost/matchbox/src/styles/config.scss';

.Title {
  display: flex;
  height: 100%;
}

.TitleIcon {
  display: flex;
  align-items: center;
  margin-left: spacing(small);
  margin-top: 1px;
}

.VerifyIcon {
  margin-top: -4px; // Vertical centering for the OG theme only
  margin-left: 3px;
}
